<!DOCTYPE html>
<html>
<head>
    <title>Selected Machine Configuration</title>
</head>
<body>
    <h1>{{ machine_configuration.name }}</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>vCPUs</th>
                <th>Memory</th>
                <th>GPUs</th>
                <th>GPU Type</th>
                <th>Cost per hour</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ machine_configuration.name }}</td>
                <td>{{ machine_configuration.vcpus }}</td>
                <td>{{ machine_configuration.memory }}</td>
                <td>{{ machine_configuration.gpus }}</td>
                <td>{{ machine_configuration.gpu_type }}</td>
                <td>{{ machine_configuration.cost_per_hour }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
